<h3>Input:</h3>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="userId" class="col-sm-2 control-label">userId</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userId" placeholder="userId" ng-model="$parent.userId">
        </div>
    </div>
    <div class="form-group">
        <label for="objectId" class="col-sm-2 control-label">objectId</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="objectId" placeholder="objectId" ng-model="$parent.objectId">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="object()">Object</button>
            <button type="submit" class="btn btn-default" ng-click="session()">Session</button>
        </div>
    </div>
</form>

<h3>Communication:</h3>
<pre class="outputcode" ng-bind="connection">
</pre>
<h3>Output:</h3>
<pre class="outputcode" ng-bind="result">
</pre>
